# Игнорирование виртуальной среды Python
venv/
.venv/


# Игнорирование файлов с окружением
.env

# Игнорирование файла базы данных
bot.db

# Игнорирование скомпилированных файлов Python
__pycache__/
**/__pycache__/

# Игнорирование настроек проекта для PyCharm
.idea/
**/.idea/